<script id="tmpl-CopyCalendarEvent" type="text/html">
    <div class="CopyCalendarEvent">
        <div class='CopyCalendarEventEventDialogGlass'/>
        <div class="CopyCalendarEvent-content">
            <h2>Copy Calendar Event</h2>

            <div class="form form-horizontal">
                <div class="control-group ">
                    <label class="control-label">Location:</label>
                    <div class="controls">
                        <input type="text" name="location" {{#if location}}value='{{location}}' {{/if}} placeholder="">
                    </div>
                </div>
				<div class="control-group ">
					<label class="control-label">StartTime:</label>
					<div class="controls input-append datetimepicker date">
						<input type="text" class="dateControl" name="startTime" {{#if startDate}}value='{{startDate}}' {{/if}} placeholder="">
						<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i> </span>
						
						<span class="timeControl">
							<select name="startHour" class="hour startHour">
								{{#if startHour}}{{startHour}}{{/if}}
							</select>
							<select name="startMin" class="min startMin">
								{{#if startMin}}{{startMin}}{{/if}}
							</select>
						</span>
						
					</div>
				</div>
				<div class="control-group ">
					<label class="control-label">EndTime:</label>
					<div class="controls input-append datetimepicker date">
						<input type="text" class="dateControl" name="endTime" {{#if endDate}}value='{{endDate}}' {{/if}} placeholder="">
						<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i> </span>
						<span class="timeControl">
							<select name="endHour" class="hour endHour">
								
							</select>
							<select name="endHour" class="min endMin">
								
							</select> 
						</span>
					</div>
				</div>
                <div class="control-group ">
                    <label class="control-label">Summary:</label>
                    <div class="controls">
                        <textarea rows="5" style="width:280px" name="summary" placeholder="summary hear">{{#if summary}}{{summary}}{{/if}}</textarea>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Reminders:</label>
                    <div class="controls">
                        <select class = "reminder-method" title="reminder-type">
                        	<option>email</option>
                        </select>
                        <input type ="text" class = "reminders" name = "reminders" value='{{#if minutes}}{{minutes}}{{else}}10{{/if}}' /> min
                    </div>
                </div>
  
				<div class="control-group copyEvent">
					<label class="control-label">
						Copy To:
					</label>
					<div class="controls">
						<select name="" class="copyTo">
				
						</select>
					</div>
				</div>
            
                
                <div class="form-actions">
                    <a href="#" class="btn btn-primary CopyCalendarEventBtn">Save</a>
                    <a href="#" class="btn cancelBtn">Close</a>
                </div>
            </div>
        </div>
    </div>
</script>