<script id="tmpl-CreateFolder" type="text/html">
    <div class="CreateFolder">
		<div class='CreateFolderDialogGlass' />
	    <div class="CreateFolder-content">
	        <h2>{{#if id}}Edit{{else}}Create{{/if}} Folder</h2>
	        <div class="form form-horizontal">
	         	<div class="form-group">
		  			<label class="col-sm-3">Name:</label>
		  			<div class="col-sm-8">
		  				<input type="text" class="form-control" name="name" {{#if name}}value='{{name}}'{{/if}} placeholder=""><span class="help-block" ></span>
		  			</div>
		  		</div>
		  		<div>
		    		<a href="#" class="btn btn-primary createFolderBtn">{{#if id}}Update{{else}}Create{{/if}}</a>
		    		<a href="#" class="btn btn-default cancelBtn">Close</a>
		  		</div>
	        </div>
	    </div>
    </div>
</script>