<script id="tmpl-DropboxFiles" type="text/html">
	<div class="container">
		<span>{{filename metadata.path}}}</span>
		<table class="table table-striped">
			{{#each metadata.contents}}
			<tr><td>{{filename path}}</td></tr>
			{{/each}}
		</table>
	</div>
</script>