<script id="tmpl-FacebookScreen" type="text/html">
  <div class="FacebookScreen">
    <div class="FacebookScreen-top">
      <ul class="nav nav-tabs">
        <li class="active menu" data-nav="friend"><a href="#">Friends</a></li>
        <li class="menu" data-nav="contact"><a href="#">Contacts</a></li>
        <li class="menu" data-nav="feed"><a href="#">Feeds</a></li>
        <li class="menu" data-nav="photo"><a href="#">Photo</a></li>
      </ul>
    </div>
    <div class="FacebookScreen-content">
      
    </div>
  </div>
</script>