<script id="tmpl-FacebookPhotos" type="text/html">
<div class="FacebookPhotos">
<table class="table table-striped">
			<tr>
				<td colspan="2">
					<div class="well form-search">
						<label>Message:</label>
						<input type="text" name="msg" class="input-block-level emailInput"   placeholder="Upload message"/>
					</div>
					<div class="well form-search">
						<label>Choose photo to upload:</label>
						<input name="file" type="file" class="input-block-level emailInput" placeholder="Upload file"/>
					</div>
					<div>
						<button type="submit" class="btn postBtn btn-primary">Post Photo</button>
					</div>
				</td>
			</tr>
		</table>


	  <div class="Posts-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
	 <div class="result modal hide ">
  <div class="modal-body">
  <div class="alert alert-success">
  Operation success!
</div>
  </div>
</div>    
	    
</div>
</script>

<script id="tmpl-FacebookPhotos-detail" type="text/html">
<table class="table  table-striped">
		<tr>
			<td>Name</td>
			<td>{{finamerstName}}</td>
		</tr>
	</table>
</script>