<script id="tmpl-FacebookEvents" type="text/html">
<div class="FacebookEvents">
<table class="table table-striped">
			<tr>
				<td colspan="2">
					<div class="well form-search">
						<label>Name:</label>
						<input type="text" name="name" class="input-block-level emailInput"   placeholder="input name"/>
					</div>
					<div class="well form-search">
						<label>Start time:</label>
						<input type="text" name="start_time" class="input-block-level emailInput"   placeholder="2013-2-1"/>
					</div>
					<div>
						<button type="submit" class="btn postBtn btn-primary">Post Event</button>
					</div>
				</td>
			</tr>
		</table>


	  <div class="Posts-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
	 <div class="result modal hide ">
  <div class="modal-body">
  <div class="alert alert-success">
  Operation success!
</div>
  </div>
</div>    
	    
</div>
</script>