<script id="tmpl-FacebookContacts" type="text/html">
<div class="FacebookContacts">
	  <div class="Friends-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
	    
	    
 <div class="Contact-detail modal hide ">
 <div class="modal-header">
    <h3>Contact information</h3>
  </div>
  <div class="modal-body">
  
  </div>
   <div class="modal-footer">
    <a href="#" class="close btn">Close</a>
  </div>
</div>

</div>
</script>
<script id="tmpl-FacebookContact-detail" type="text/html">
<table class="table">
		<tr>
			<td>FirstName</td>
			<td>{{firstName}}</td>
		</tr>
		<tr>
			<td>Link</td>
			<td>{{link}}</td>
		</tr>
	</table>
</script>