<script id="tmpl-FacebookPosts" type="text/html">
<div class="FacebookPosts">
<div class="form-search" >
  <textarea rows="3" class="post" placeholder="Enter new message"></textarea>
  <button type="submit" class="btn postBtn pull-right">Post Message</button>
</div>
	  <div class="Posts-tableListContain">
	  <table class="table table-striped">
	        <tbody class="listItem">
	        </tbody>
	      </table>
	    </div>
	    
	 <div class="result modal hide ">
  <div class="modal-body">
  <div class="alert alert-success">
  Operation success!
</div>
  </div>
</div>    
	    
 <div class="Post-detail modal hide ">
 <div class="modal-header">
    <h3>News information</h3>
  </div>
  <div class="modal-body">
  
  </div>
   <div class="modal-footer">
    <a href="#" class="close btn">Close</a>
  </div>
</div>

</div>
</script>

<script id="tmpl-FacebookPosts-detail" type="text/html">
<table class="table  table-striped">
		<tr>
			<td>Name</td>
			<td>{{finamerstName}}</td>
		</tr>
	</table>
</script>