<script id="tmpl-FoursquareScreen" type="text/html">
  <div class="FoursquareScreen">
    <div class="FoursquareScreen-top">
      <ul class="nav nav-tabs">
        <li class="active menu" data-nav="userInfo"><a href="#">User Infomation</a></li>
      </ul>
    </div>
    <div class="FoursquareScreen-content">
      
    </div>
  </div>
</script>