<script id="tmpl-GithubReleases" type="text/html">
  <div class="container githubReleases" data-name="{{reponame}}" data-login="{{login}}">
        <table class="table table-striped">
            <thead>
                <tr class="header">
                    <th colspan="7">
                        Releases for {{name}}
                    </th>
                </tr>
            </thead>
            <tr class="table-title">
                <td>name</td>
                <td>tag_name</td>
                <td>created_at</td>
                <td>published_at</td>
                <td>target_commitish</td>
                <td>author</td>
                <td></td>
            </tr>
            {{#each releases}}
            <tr>
                <td class="message" data-release-id="{{id}}" data-release-name="{{name}}" data-release-tagname="{{tag_name}}">
                    <div>
                    <span class="name">{{name}}</span>
                    </div>
                </td>
                <td class="sha">
                    <div><span class="tag-name">{{tag_name}}</span></div>
                </td>
                <td class="sha">
                    <div><span class="created-at">{{created_at}}</span></div>
                </td>
                <td class="sha">
                    <div><span class="published-at">{{published_at}}</span></div>
                </td>
                <td class="sha">
                    <div><span class="target-commitish">{{target_commitish}}</span></div>
                </td>
                <td class="sha">
                    <div><span class="messageTitle">{{author.login}} released</span></div>
                </td>
                <td class="sha">
                    <div class="btn edit">Edit</div>
                </td>
            </tr>
            {{/each}}
        </table>
	</div>
</script>