<script id="tmpl-GithubIssues" type="text/html">
	<div class="option" data-name="{{name}}" data-login="{{login}}">
		{{#equal issueState "open"}}
  		<span class="choosed">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="openIssues">Open</span>
		</span>
		<span class="unchoosed">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<span class="closedIssues unchoosed">Closed</span>
		</span>
		{{else}}
		<span class="unchoosed">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="openIssues">Open</span>
		</span>
		<span class="choosed">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        	<span class="closedIssues">Closed</span>
        </span>
		{{/equal}}
	</div>
	<div class="container githubIssues">
		<table class="table" data-name="{{name}}" data-login="{{login}}">
			<tbody>
			{{#each issues}}
			<tr>
				<td class="message">
					<div><span class="messageTitle">{{title}}</span></div>
				</td>
				<td class="sha">
					<div><span class="messageTitle">{{user.login}} assigned</span></div>
				</td>
			</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</script>