<script id="tmpl-GithubIssues" type="text/html">
	<div class="repository-name">
		<span class="repository">{{login}} <span class="separator">/</span> {{name}}</span>
		<div class="btn new-issue" data-name="{{name}}" data-login="{{login}}">New issue</div>
		<div class="searchKeyWord">
			<input type="text" class="searchContent"/>
			<input type="submit" class="searchButton" value="Search"/>
		</div>
	</div>
	<div class="option" data-name="{{name}}" data-login="{{login}}">
  		<span class="openIssues choosed">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="open-count issue-state" data-count="{{openCount}}"><span class="searchOpenCount">{{openCount}}</span>  Open</span>
		</span>
		<span class="closedIssues">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<span class="close-count unchoosed issue-state" data-count="{{closedCount}}"><span class="searchClosedCount">{{closedCount}}</span> Closed</span>
		</span>
	</div>
	<div class="container githubIssues">
		<div class="issues-container"></div>
	</div>
</script>

<script id="issueList" type="text/html">
	<div>
			<div class="message" data-issue-id="{{number}}">
				<span class="messageTitle">{{title}}</span>
				<image class="userImage" src="{{avatarUrl}}"/>
			</div>
			<div class="issueMeta">
				<span class="messageTitle">#{{number}} opened {{#formatDate createdAt}}{{/formatDate}} by {{login}}</span>
			</div>
	</div>
</script>