<script id="tmpl-GithubPullRequests" type="text/html">
	<div class="repository-name">
		<span class="repository">{{login}} <span class="separator">/</span> {{reponame}}</span>
	</div>
	<div class="option" data-name="{{reponame}}" data-login="{{login}}">
		{{#equal pullRequestState "open"}}
		<span class="openPullRequests choosed">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="open-count" data-count="{{openCount}}">{{openCount}} Open</span>
		</span>
		<span class="closedPullRequests unchoosed">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<span class="close-count unchoosed" data-count="{{closedCount}}">{{closedCount}} Closed</span>
		</span>
		{{else}}
		<span class="openPullRequests unchoosed">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="open-count" data-count="{{openCount}}">{{openCount}} Open</span>
		</span>
		<span class="closedPullRequests choosed">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<span class="close-count" data-count="{{closedCount}}">{{closedCount}} Closed</span>
		</span>
		{{/equal}}
	</div>
	<div class="container githubPullRequests">
		<table class="table" data-name="{{reponame}}" data-login="{{login}}">
			<tbody>
                <tr class="table-title">
                    <td>title</td>
                    <td>state</td>
                    <td>author</td>
                    <td></td>
                </tr>
			{{#each pullrequests}}
			<tr data-pullrequest-id="{{number}}">
				<td class="sha">
					<div class="messageTitle"><span>{{title}}</span></div>
				</td>
				<td class="sha">
					<div><span class="state">{{state}}</span></div>
				</td>
				<td class="sha">
					<div><span class="author-login">{{user.login}} {{state}}</span></div>
				</td>
				<td class="sha btns">
				{{#equal state "open"}}
					<div><span class="btn btn-close">Close</span></div>
				{{else}}
					<div><span class="btn btn-open">Open</span></div>
				{{/equal}}
				</td>
				<td class="sha btns">
					<div class="glyphicon glyphicon-edit edit"></div>
					<div class="glyphicon glyphicon-remove remove"></div>
					<img class="githubloading hide save" src="https://a248.e.akamai.net/assets.github.com/images/spinners/octocat-spinner-32.gif"/>
                </td>
			</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</script>