<script id="tmpl-GithubReleaseEdit" type="text/html">
  <div class="github">
	  <div class="dialogBackground"></div>
      <div class="dialogContent" style="left:{{layout.left}};top:{{layout.top}};width:{{layout.width}};height:{{layout.height}}">
          <div class="dialogHead">
              {{#if detail}}
              <span class="dialogTitle">Release: {{name}}</span>
              {{else}}
              <span class="dialogTitle">{{#if id}}Edit{{else}}Create{{/if}} Release</span>
              {{/if}}
              <span class="close dialogBtns dialogCloseBtn">&times;</span>
          </div>
          <div class="dialogBody" data-repository-name="{{repoName}}" data-release-id="{{id}}" data-login="{{login}}">
              <div>
                  <div>Name:</div>
                  <input type="text" name="releaseName" value="{{name}}" class="input-block-level" {{#if detail}} disabled {{/if}} placeholder="type the release name"/>
              </div>
              <div>
                  <div>Tag Name:</div>
                  <input type="text" name="releaseTagName" value="{{tagName}}" class="input-block-level" {{#if detail}} disabled {{/if}} placeholder="type the release tag name"/>
              </div>
              <div class="dialogBtns">
                  <img class="githubloading hide save" src="https://a248.e.akamai.net/assets.github.com/images/spinners/octocat-spinner-32.gif"/>
                  <button class="btn btn-primary save">Save</button>
                  <button class="btn btn-primary cancel">Cancel</button>
              </div>
          </div>
      </div>
  </div>
</script>