<script id="tmpl-GoogleGroups" type="text/html">
<div class="GoogleGroups">
  <div>
        <span class="btn btn-default btn-sm btnAdd"><i class="glyphicon glyphicon-plus"></i>Add</span>
      </div>
  <div class="groups-container">
    
  </div>
</div>
</script>