<script id="tmpl-GoogleThreadMails" type="text/html">
  <div class="GoogleThreadMails">
    <div class="mails-container panel-group">
  		
    </div>  
  </div>

</script>

<script id="tmpl-GoogleThreadMails-mail" type="text/html">
  <div class="mailInfo panel">
  		<div class="mailInfo-header">
  			<div class="from">{{from}}</div>
  			<div class="date">{{dateString}}</div>
  			<div class="subject">{{subject}}</div>
  		</div>
  		<div class="mailInfo-body">
  			{{{content}}}
  		</div>
  </div>
</script>