<script id="tmpl-GoogleFolders" type="text/html">
<div class="GoogleFolders">
	<div>
		<span class="btn btn-default btnAdd"><i class="glyphicon glyphicon-plus"></i>Add</span>
	</div>

	<div class="folders-container">
	</div>
</div>
</script>