<script id="tmpl-GoogleSearchMails" type="text/html">
<div class="search-mails-container">
    <div class="control-group">
      Subject: <input type="text"  name="subject"  placeholder="input value"><span class="help-inline" ></span>
    </div>
    <div class="control-group">
      From: <input type="text"  name="from"  placeholder="input value"><span class="help-inline" ></span>
    </div>
    <div class="control-group">
      To: <input type="text"  name="to"  placeholder="input value"><span class="help-inline" ></span>
    </div>
    <div class="control-group">
      Body: <input type="text"  name="body"  placeholder="input value"><span class="help-inline" ></span>
    </div>
    <div class="control-group">
      Min Mail Size: <input type="text"  name="minSize"  placeholder="input size"><span class="help-inline" ></span>
    </div>
    <div class="control-group">
      Max Mail Size: <input type="text"  name="maxSize"  placeholder="input size"><span class="help-inline" ></span>
    </div>
    <div class="control-group">
		Start Sent Date
		<div class="input-append datetimepicker date"> 
	      <input type="text" name = "startDate">
	      <span class="add-on"> 
	          <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i> 
	      </span> 
	    </div>
	</div>
    <div class="control-group">
        End Sent Date
		<div class="input-append datetimepicker date"> 
	      <input type="text" name = "endDate">
	      <span class="add-on"> 
	          <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i> 
	      </span> 
	    </div>
	</div>
	<div class="control-group">
        End Received Date
		<div class="input-append datetimepicker date"> 
	      <input type="text" name = "startReceivedDate">
	      <span class="add-on"> 
	          <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i> 
	      </span> 
	    </div>
	</div>
	<div class="control-group">
        End Received  Date
		<div class="input-append datetimepicker date"> 
	      <input type="text" name = "endReceivedDate">
	      <span class="add-on"> 
	          <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i> 
	      </span> 
	    </div>
	</div>
  	<div>
		<a href="#" class="btn inputValueBtn">search</a>
	</div>
  </div>
</script>