<script id="tmpl-GoogleCalendarEvents" type="text/html">
<div class="GoogleCalendarEvents">
  <div>
        <span class="btn btnAdd"><i class="icon-plus"></i>Add</span>
      </div>
  <div class="contacts-container">
    
  </div>
</div>
</script>