<script id="tmpl-GoogleCalendarSetting" type="text/html">
<div class="GoogleCalendarSetting">
	<div class="setting-head">
		<div>
	</div>
	

	<div class="setting-container">
	
	</div>
</div>
</script>