<script id="tmpl-GoogleContacts" type="text/html">
<div class="GoogleContacts">
	<div>
		<span class="btn btn-default btn-sm btnAdd"><i class="glyphicon glyphicon-plus"></i>Add</span>
	</div>
	
	<div class="searchForContact">
		<input type="text" name="contactName" placeholder="input value">
		<span class="help-inline"></span>
		<a href="#" class="btn btn-default btn-sm btn-primary inputValueBtn">search</a>
	</div>
	<div class="contacts-container">
	
	</div>
</div>
</script>