<script id="tmpl-GoogleScreen" type="text/html">
  <div class="GoogleScreen">
    <div class="GoogleScreen-top">
      <ul class="nav nav-tabs">
        <li class="menu" data-nav="contacts"><a href="#">Contacts</a></li>
        <li class="menu" data-nav="groups"><a href="#">Groups</a></li>
        <li class="menu" data-nav="calendar-events"><a href="#">Calendar Events</a></li>
        <li class="menu" data-nav="calendars"><a href="#">Calendars</a></li>
        <li class="active menu" data-nav="mails"><a href="#">IMAP</a></li>
        <li class="menu" data-nav="mails_rest"><a href="#">Gmail API</a></li>
        <li class="menu" data-nav="folders"><a href="#">Folders IMAP</a></li>
        <li class="menu" data-nav="folders_rest"><a href="#">Folders Rest</a></li>
        <li class="menu" data-nav="gmail_analytics"><a href="#">Gmail Analytics</a></li>
        <li class="menu" data-nav="actions"><a href="#">Actions<i class="glyphicon glyphicon-chevron-down"></i></a></li>
        <li class="menu" data-nav="drive"><a href="#">Drive<i class="glyphicon glyphicon-chevron-down"></i></a></li>
      </ul>
    </div>
    <div class="GoogleScreen-content">
      
    </div>
  </div>
</script>