<script id="tmpl-GoogleCalendarEvents" type="text/html">
<div class="GoogleCalendarEvents">
	<div>
		<span class="btn btn-default btn-sm btnAdd"><i class="glyphicon glyphicon-plus"></i>Add</span>
		<span class="btn btn-default btn-sm showCanlendarView">Show Calendar</span>
	</div>
	<div class ="search-calendars-container">
		<div class="control-group">
			Start Date:
			<div class="input-append datetimepicker date">
				<input type="text" name = "startDate">
				<span class="add-on"><i class="glyphicon glyphicon-calendar"></i> </span>
			</div>
		</div>
		<div class="control-group">
			End Date:
			<div class="input-append datetimepicker date">
				<input type="text" name = "endDate">
				<span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		</div>
		<div class="control-group ">
			Select Calendar:
			<select class = "calendar">
				
			</select>
		</div>
		<div class="control-group">
			<a href="#" class="btn btn-default btn-sm searchCalendar">Search</a>
		</div>
	</div>
	<div class="calendars-container">
	
	</div>
</div>
</script>