<script id="tmpl-GoogleMailForwardImap" type="text/html">
    <div class="MailForwardImap modal">
        <div class="MailForwardImap-header modal-header">
            <div class="close btnClose"><i class="glyphicon glyphicon-remove"></i></div>
            <h3>{{#if subject }} ForwardImap Mail [{{subject}}] {{else}} New Mail {{/if}}</h3>
        </div>
        <div class="MailForwardImap-content modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">Subject:</div>
                    <div class="controls">
                        <input type='text' name="subject" {{#if subject }} value="Fwd: {{subject}}" {{/if}} />
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">To:</div>
                    <div class="controls">
                        <input type='text' name="to" value="" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">Cc:</div>
                    <div class="controls">
                        <div class="ccItems"></div>
                        <div><a href="javascript:void(0)" class="addCC">Add Cc</a></div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label"></div>
                    <div class="controls">
                        <div class="attachments"></div>
                        <div><a href="javascript:void(0)" class="addAttachment">Add Attachment</a></div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">Content:</div>
                    <div class="controls">
                        <div><iframe srcdoc='{{content}}'></iframe></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="MailForwardImap-footer modal-footer">
            <div class="btn btn-primary btnCreate">ForwardImap</div>
            <div class="btn btn-default btnClose">Close</div>
        </div>
    </div>
</script>