<script id="tmpl-GoogleFoldersRest" type="text/html">
<div class="GoogleFoldersRest">
	<div>
		<span class="btn btnAdd"><i class="icon-plus"></i>Add</span>
	</div>

	<div class="folders-container">
	</div>
</div>
</script>