<script id="tmpl-GoogleDriveTrash" type="text/html">
<div class="GoogleDriveTrash">
	<div>
		<span class="btn btn-default btnRestoreTrash"><i class="glyphicon glyphicon-trash"></i>RestoreTrash</span>
		<span class="btn btn-default btnEmptyTrash"><i class="glyphicon glyphicon-remove-sign"></i>EmptyTrash</span>
	</div>
	<div class="trash-container">
	
	</div>
</div>
</script>