<script id="tmpl-GoogleCalendars" type="text/html">
<div class="GoogleCalendars">
	<div class="calendars-head">
		<div>
		<span class="btn btn-default btnAdd"><i class="glyphicon glyphicon-plus"></i>Add</span>
		<span class="btn btn-default btnSetting"><i class="glyphicon glyphicon-cog"></i></span>
		</div>
	</div>
	

	<div class="calendars-container">
	
	</div>
</div>
</script>