<script id="tmpl-GoogleDocs" type="text/html">
<div class="GoogleDocs">
  <div>
        <span class="btn btnSearch"><i class="icon-plus"></i>Search</span>
      </div>
  <div class="docs-container">
    
  </div>
</div>
</script>