<script id="tmpl-GoogleDriveFiles" type="text/html">
<div class="GoogleDriveFiles">
  <div>
	<span class="btn btnUpload"><i class="icon-upload"></i>Upload</span>
	<span class="btn btnCreateFolder"><i class="icon-plus"></i>CreateFolder</span>
  </div>
      
  <div class="search-form">
  	<input type="text" placeholder="keyword" name="keyword" class="keyword"/>
  	<div class="search-type">
  		<div class="search-type-item">
	  		<label for="title">Title</label>
	  		<input id="title" type="radio" name="searchType" value="title"  checked/>
  		</div>
  		
  		<div class="search-type-item">
	  		<label for="fullText">Full Text</label>
	  		<input id="fullText" type="radio" name="searchType" value="fullText"/>
  		</div>
  		
  		<div class="search-type-item">
	  		<label for="mimeType">mimeType</label>
	  		<input id="mimeType" type="radio" name="searchType" value="mimeType"/>
  		</div>
  	 </div>
  	 <div class="date-group">
            Start  Date
          <div class="input-append datetimepicker date"> 
            <input type="text" name = "startDate">
            <span class="add-on"> 
                <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i> 
            </span> 
          </div>
      </div>
      <div class="date-group">
            End   Date
        <div class="input-append datetimepicker date"> 
            <input type="text" name = "endDate">
            <span class="add-on"> 
                <i data-time-icon="icon-time" data-date-icon="icon-calendar" ></i> 
            </span> 
          </div>
      </div>
  	<div>
  		<input type="button" class="search" value="Search" class="btn btn-default"/>
  	</div>
  </div>
  <div class="files-container">
    
  </div>
</div>
</script>