<script id="tmpl-GoogleDriveFiles" type="text/html">
<div class="GoogleDriveFiles">
  <div>
		<span class="btn btnUpload"><i class="icon-plus"></i>Upload</span>
        <span class="btn btnSearch"><i class="icon-plus"></i>Search</span>
      </div>
  <div class="files-container">
    
  </div>
</div>
</script>