<script id="tmpl-GoogleCalendars" type="text/html">
<div class="GoogleCalendars">
	<div class="calendars-head">
		<div>
		<span class="btn btnAdd"><i class="icon-plus"></i>Add</span>
		</div>
	</div>
	

	<div class="calendars-container">
	
	</div>
</div>
</script>