<script id="tmpl-GoogleDriveTrash" type="text/html">
<div class="GoogleDriveTrash">
 <div>
	<span class="btn btnRestoreTrash"><i class="icon-plus"></i>RestoreTrash</span>
	<span class="btn btnEmptyTrash"><i class="icon-plus"></i>EmptyTrash</span>
  </div>
  <div class="trash-container">
    
  </div>
</div>
</script>