<script id="tmpl-DriveFolder" type="text/html">
 <div class="googleDrive DriveFolder">
	  <div class="dialogBackground">
		</div>
		<div class="dialogContent">
			<div class="dialogHead">
				<span class="dialogTitle">Move to...</span>
				<span class="close dialogBtns dialogCloseBtn">&times;</span>
			</div>
			<div class="dialogBody" data-fileId="{{data.fileId}}" data-parentId="{{data.parentId}}">
			 <div class="itemDivHead">
			 	<div class="folderitem">
			 		<span class="foldername">My Drive</span>
			 	</div>
			 </div>
			<div class="itemDiv">
				loading...
			</div>
		 	<div class="dialogBtns">
				<button class="btn btn-primary move">Move</button>
				<button class="btn btn-primary cancel">Cancel</button>
	 		</div>
		</div>
	</div>
</div>
</script>

<script id="tmpl-DriveSubFolder" type="text/html">
{{#if data.root}}
	<div class="rootfolder itemDiv">
{{else}}
	<div class="subfolder itemDiv">
{{/if}}
		{{#each data.result}}
				<div class="itemDiv">
					<div class="folderitem" data-selfId="{{selfId}}">
					{{#if hasChild}}
						<span class="driveFolderPlus"><i class="icon-plus"></i></span>
					{{else}}
						<span class="driveFolderMinus"></span>
					{{/if}}
						<span class=""><i class="icon-folder-close"></i></span>
						<span class="foldername" data-selfId="{{selfId}}">{{name}}</span>
					</div>
				</div>
		{{/each}}
	</div>
</script>