<script id="tmpl-InputValue" type="text/html">
    <div class="InputValue">
		<div class='InputValueDialogGlass' />
	    <div class="InputValue-content">
	        <h2>Input Value</h2>
	        <div class="form">
		        <div class="control-group">
		  		Name:<input type="text"  name="name"  placeholder="input value"><span class="help-inline" ></span>
		  		<br/>
		  		</div>
		  		<div>
		    		<a href="#" class="btn btn-primary inputValueBtn">OK</a>
		    		<a href="#" class="btn cancelBtn">Close</a>
		  		</div>
	        </div>
	    </div>
    </div>
</script>