<script id="tmpl-LinkedInScreen" type="text/html">
<div class="container LinkedInScreen">
	<div class="LinkedInScreen-top">
		<ul class="nav nav-tabs">
	      	<li class="active menu" data-nav="currentUserInfo"><a href="#">CurrentUser Information</a></li>
	      	<li class="menu" data-nav="jobbookmarks"><a href="#">Job Bookmarks</a></li>
			<li class="menu" data-nav="connections"><a href="#">Connections</a></li>
			<!--<li class="menu" data-nav="jobs"><a href="#">Jobs</a></li>-->
	        <li class="menu" data-nav="companys"><a href="#">Companies</a></li>
	        <li class="menu" data-nav="groups"><a href="#">Groups</a></li>
			<li class="menu" data-nav="search"><a href="#">Search<i class="glyphicon glyphicon-chevron-down"></i></a></li>
		</ul>
    </div>
    <div class="LinkedInScreen-content">
      
    </div>
</div>
</script>