<script id="tmpl-LinkedInCurrentUserInfo" type="text/html">
	<div class="LinkedInCurrentUserInfo">
		<table class="table table-striped">
			<tr>
				<td>First Name:</td>
				<td>{{data.result.firstName}}</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>{{data.result.lastName}}</td>
			</tr>
			<tr>
				<td>Headline:</td>
				<td>{{data.result.headline}}</td>
			</tr>
			<tr>
				<td>Home Page:</td>
				<td><a href="{{data.result.siteStandardProfileRequest.url}}">{{data.result.siteStandardProfileRequest.url}}</a></td>
			</tr>
			<tr>
				<td>Head Picture:</td>
				<td><img src="{{data.result.pictureUrl}}"></a></td>
			</tr>
		</table>
	</div>
</script>