<script id="tmpl-LinkedInUserInfo" type="text/html">
<div class="LinkedInUserInfo">
	<div class="dialogBackground">
	</div>	
	<div class="dialogContent">
		<div class="dialogHead">
			<span class="dialogTitle">{{data.title}}</span>
			<span class="close dialogBtns dialogCloseBtn">&times;</span>
		</div>
		<div class="dialogBody">
			<span class="userFirstName">firstName: <b>{{data.result.firstName}}</b></span>
			<span class="userLastName">lastName: <b>{{data.result.lastName}}</b></span>
			<span class="userFirstName">headline: <b>{{data.result.headline}}</b></span>
		</div>
	</div>
</div>
</script>