<script id="tmpl-LinkedInCompanys" type="text/html">
<div class="LinkedInCompanys">
	<div class="LinkedInCompanys-top">
		<button class="btn btn-primary followed-companys">Followed Companys</button>
	</div>
	<div class="LinkedInCompanys-body">
		<div class="Companys-list">
		
		</div>
	</div>
</div>
</script>