<script id="tmpl-LiveScreen" type="text/html">
	<div class="LiveScreen">
		<div class="LiveScreen-top">
			<ul class="nav nav-tabs">
				<li class="active menu" data-nav="userInfo"><a href="#">User Infomation</a></li>
				<li class="menu" data-nav="contacts"><a href="#">Live Contacts</a></li>
				<li class="menu" data-nav="albums"><a href="#">LiveAlbums</a></li>
                <li class="menu" data-nav="drive"><a href="#">LiveDrive</a></li>
                <li class="menu" data-nav="calendar"><a href="#">Calendar</a></li>
			</ul>
		</div>
		<div class="LiveScreen-content">
			
		</div>
	</div>
</script>