<script id="tmpl-LiveCreateContact" type="text/html">
	<div class="LiveCreateContact">
		<div class='LiveCreateContactDialogGlass'/>
		<div class="LiveCreateContact-content">
			<h2>{{#if id}}Edit{{else}}Create{{/if}} Contact</h2>

			<div class="form form-horizontal">

				<div class="form-group ">
					<label class="col-sm-4 control-label">First Name:</label>
					<div class="controls">
						<input type="text" class="form-control" name="first_name" {{#if first_name}}value='{{first_name}}' {{/if}} placeholder=""><span class="help-inline"></span>
					</div>
				</div>
				<div class="form-group ">
					<label class="col-sm-4 control-label">Last Name:</label>
					<div class="controls">
						<input type="text" class="form-control" name="last_name" {{#if last_name}}value='{{last_name}}' {{/if}} placeholder=""><span class="help-inline"></span>
					</div>
				</div>
				<div class="form-group ">
					<label class="col-sm-4 control-label">Birthday Day:</label>
					<div class="controls">
						<input type="text" class="form-control" name="birth_day" {{#if birth_day}}value='{{birth_day}}' {{/if}} placeholder=""><span class="help-inline"></span>
					</div>
				</div>
				<div class="form-group ">
					<label class="col-sm-4 control-label">Birthday Month:</label>
					<div class="controls">
						<input type="text" class="form-control" name="birth_month" {{#if birth_month}}value='{{birth_month}}' {{/if}} placeholder=""><span class="help-inline"></span>
					</div>
				</div>

				<div class="form-actions">
					<a href="#" class="btn btn-primary createContactBtn">{{#if id}}Update{{else}}Create{{/if}}</a>
					<a href="#" class="btn btn-default cancelBtn">Close</a>
				</div>
			</div>
		</div>
	</div>
</script>