<script id="tmpl-LiveCreateAlbum" type="text/html">
	<div class="LiveCreateAlbum">
		<div class='LiveCreateAlbumDialogGlass'/>
		<div class="LiveCreateAlbum-content">
			<h2>{{#if id}}Edit{{else}}Create{{/if}} Album</h2>

			<div class="form form-horizontal">

				<div class="form-group ">
					<label class="col-sm-4 control-label">Name:</label>
					<div class="controls">
						<input type="text" class="form-control" name="name" {{#if name}}value='{{name}}' {{/if}} placeholder=""><span class="help-inline"></span>
					</div>
				</div>
				<div class="form-group ">
					<label class="col-sm-4 control-label">Description:</label>
					<div class="controls">
						<input type="text" class="form-control" name="description" {{#if description}}value='{{description}}' {{/if}} placeholder=""><span class="help-inline"></span>
					</div>
				</div>
				<div class="form-actions">
					<a href="#" class="btn btn-primary createAlbumBtn">{{#if id}}Update{{else}}Create{{/if}}</a>
					<a href="#" class="btn btn-default cancelBtn">Close</a>
				</div>
			</div>
		</div>
	</div>
</script>