<script id="tmpl-LiveAlbums" type="text/html">
	<div class="LiveAlbums">
		<div>
			<span class="btn btn-default btn-sm btnAdd"><i class="glyphicon glyphicon-plus"></i>Add</span>
		</div>
		<div class="albumsLists">
			
		</div>
	</div>
</script>