<script id="tmpl-LiveFolders" type="text/html">
	<div class="LiveFolders">
		<div>
			<span class="btn btn-default btn-sm btnAdd"><i class="glyphicon glyphicon-plus"></i>Add</span>
		</div>
		<div class="foldersLists">
			
		</div>
	</div>
</script>