<script id="tmpl-LiveDrive" type="text/html">
	<div class="LiveDrive">
		<div class="pictureContent hide">
			<i class="glyphicon glyphicon-remove"></i>
			<div class="showPicture"></div>
		</div>
		<div>
			{{#if isShowAddFolderBtn}}
				<span class="btn btn-default btn-sm btnFolderAdd"><i class="glyphicon glyphicon-plus"></i>Add Folder</span>
			{{/if}}
		</div>
		<div class="foldersLists">
			
		</div>
	</div>
</script>