<script id="tmpl-LiveContacts" type="text/html">
	<div class="LiveContacts">
		<div>
			<span class="btn btn-default btn-sm btnAdd"><i class="glyphicon glyphicon-plus"></i>Add</span>
			<span class="btn btn-default btn-sm btnFriends"><i class="glyphicon glyphicon-star"></i>Friends</span>
		</div>
		<div class="contactLists">
			
		</div>
	</div>
</script>