<script id="tmpl-LiveCalendar" type="text/html">
<div class="LiveCalendar">
	<div class="LinkedInCompanys-top">
		<button class="btn btn-primary add-Calendar"><i class="glyphicon glyphicon-plus"></i>Add Calendar</button>
	</div>
	<div class="LiveCalendar-body">
		Still loading!
	</div>
</div>
</script>

<script id="tmpl-LiveCalendarLists" type="text/html">
<div class="CompanyTotal">Sum:{{total}}</div>
<div class="LiveCalendarList">
	<table class="table table-bordered table-hover">
		<tr>
			<!--<th>Number</th>-->
			<th>Name</th>
			<th>Description</th>
			<th>Owner</th>
			<th>Created Time</th>
			<th>Permissions</th>
			<th>Subscription Location</th>
			<th>Operation</th>
		</tr>
			
		{{#each calendars}}
		<tr data-calendarId="{{id}}" >
			<!--<td class="number with5">{{number}}</td>-->
			<td class="calendarName width10">{{name}}</td>
			<td class="description width30">{{description}}</td>
			<td class="owner width10">{{from.name}}</td>
			<td class="createdTime width10">{{created_time}}</td>
			<td class="permissions width10">{{permissions}}</td>
			<td class="location width5">{{subscription_location}}</td>
			<td class="operation width10"><span class="update-Calendar glyphicon glyphicon-edit"></span><span class="delete-Calendar glyphicon glyphicon-remove-circle"></span></td>
		</tr>
		{{/each}}
	</table>
</div>
</script>