<script id="tmpl-Office365Screen" type="text/html">
  <div class="container">
		<div class="tabbable">
	 		<ul class="nav nav-tabs">
	 			<li class="active" data-nav="UserInformation"><a href="#" data-toggle="tab">User Information</a></li>
	   			<li data-nav="mail"><a href="#" data-toggle="tab">Mail</a></li>
	   			<li data-nav="calender"><a href="#" data-toggle="tab">Calender</a></li>
	   			<li data-nav="people"><a href="#" data-toggle="tab">People</a></li>
	 		</ul>
			<div class="tab-content">
				<div class="alert alert-info">
					Tring to load data,Please wait... 
				</div>
      </div>
	  </div>
	</div>
</script>