<script id="tmpl-SalesForceMDCanvasAppInfo" type="text/html">
	<div class="SalesForceMDCanvasAppInfo">
		<div class="SalesForceMDCanvasAppInfo-header">
			<h3>Create Canvas App</h3>
		</div>
		<div class="SalesForceMDCanvasAppInfo-content">
			<div class="form-horizontal">
			
				<div class="control-group">
					<div class="control-label">App name:</div>
					<div class="controls">
						<input type='text' name="appName" value="{{appName}}" />
					</div>
				</div>
				
				<div class="control-group">
					<div class="control-label">Contact Mail:</div>
					<div class="controls">
						<input type='text' name="contactMail" value="{{contactMail}}" />
					</div>
				</div>
				
				<div class="control-group">
					<div class="control-label">Callback URL:</div>
					<div class="controls">
						<input type='text' name="canvasUrl" value="{{canvasUrl}}" />
					</div>
				</div>
				
			</div>
		</div>
		<div class="SalesForceMDCanvasAppInfo-footer">
			<div class="btn btn-primary btnCreate">Save</div>
		</div>
	</div>  
</script>