<script id="tmpl-ShareCalendar" type="text/html">
<div class="ShareCalendar">
	<div class='ShareCalendarDialogGlass'/>
	<div class="ShareCalendar-content">
		<h2>Create New Access Person</h2>

		<div class="form form-horizontal">
			<div class="form-group ">
				<label class="col-sm-4 control-label">
					New Access Person:
				</label>
				<div class="controls">
					<input type ="text"  class="form-control newAccessPerson" name = "newAccessPerson" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="form-group">
				<lable class="col-sm-4 control-label">
					role:
				</lable>
				<div class = "controls">
					<select class="role">
						<option>none</option>
						<option>freeBusyReader</option>
						<option selected="">reader</option>
						<option>writer</option>
						<option>owner</option>
					</select>
				</div>
			</div>		
			<div class="form-group">
				<lable class="col-sm-4 control-label">
					type:
				</lable>
				<div class = "controls">
					<select class = "scopeType">
						<option>default</option>
						<option selected="">user</option>
						<option>group</option>
						<option>domain</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<lable class="col-sm-4 control-label">
					shared:
				</lable>
				<div class="controls shared">
					
				</div>
			</div>		
			<div class="form-actions">
				<a href="#" class="btn btn-primary ShareCalendarBtn">Save</a>
				<a href="#" class="btn btn-default cancelBtn">Close</a>
			</div>
		</div>
	</div>
</div>
</script>
<script id="tmpl-ShareCalendar-item" type="text/html">
	<div class="ShareCalendar-item" data-id={{ruleId}}>
		<span class="sharedVal">{{sharedVal}}</span>
		<div class ="glyphicon glyphicon-remove sharedDel"></div>
	</div>
</script>