<script id="tmpl-Top" type="text/html">
	<div class="Top">
		<div class="navbar">
		  <div class="navbar-inner">
		    <ul class="nav">
		      <li data-nav="contact" class="menu">Contacts</li>
		      <li data-nav="mail" class="menu">Mail</li>
		      <li data-nav="group" class="menu">Group</li>
		      <li data-nav="fbfriend" class="menu fbfriend">Facebook friends</li>
		      <li data-nav="fbcontact" class="menu">Facebook contacts</li>
		      <li data-nav="oauth" class="menu">OAuth<i class="icon-chevron-down"></i></li>
		    </ul>
		  </div>
		</div>
	</div>
</script>