<script id="tmpl-TwitterScreen" type="text/html">
  <div class="TwitterScreen">
    <div class="TwitterScreen-content">
      	this is the twitter content
      	{{profile_background_image_url}}
    </div>
  </div>
</script>