<script id="tmpl-TwitterTimeline" type="text/html">

	<div class="TwitterTimeLine">
		<div class="row-fluid">
			<div class="span12">
				<div class="page-header">
					<h3>TwitterTimeLine</h3>
				</div>
		       
		       <div class="timeline-container">
			       {{#each timeline}}
			       <div class="tweet-container" tweet_id="{{id}}">
						<div class="row-fluid">
							<div class="span1"><img src={{user.profile_image_url}} /></div>
							<div class="span11">
								
								<div class="row-fluid">
									<div class="span11">
										<strong>{{user.name}}</strong>@{{user.screen_name}}
									</div>
								</div>
								<div class="row-fluid">
									<div class="span11">{{text}}</div>
								</div>
								<div class="row-fluid">
									<div class="span11">
										<span class="retweet"><i class="icon-share-alt"></i>retweet</span>
									</div>
								</div>
							
							</div>
						</div>
					</div>
			        {{/each}}
				</div>
			</div>
		</div>
	</div>
	
</script>