.Facebookphotos {
	padding: 0 20px;
}

.Facebookphotos .form-search {
	margin-top: 10px;
	margin-bottom: 10px;
	width:98%
}
.Facebookphotos .post {
	width: 100%
}

.Facebookphotos .postBtn {
	margin-top: 10px;
}
