.githubRepositories{

  .title{
  	font-size:18px;
  	color:blank;
  }
  
  .detailsTitle{
     font-size:16px;
     float:left;
     width:20%;
  }
  
  .detailsContent{
  	 font-size:14px;
     float:left;
     width:80%;
  }

}