.LinkedInCompanys {
	.LinkedInCompanys-top {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.LinkedInCompanys {
		.CompanyTotal {
			float: right;
		}
		table {
			.width5 {
				width: 5%;
			}
			.width10 {
				width: 10%;
			}
			.width30 {
				width: 30%;
			}
			.website, .operator {
				a {
					word-break: break-word;
					cursor: pointer;
				}
			}
		}
	}
}
