.GithubReleaseEdit {
    .dialogContent{
        .dialogHead{
            overflow: hidden;
        }
        .dialogBody{
            input {
                width: 100%;
            }
            .dialogBtns{
                margin-top:8px;
            }
        }
    }
}