
.GoogleThreadMails {
	width: 100%;
	height: 100%;
	overflow: auto;
	.mails-container {
		margin: 20px;
		.mailInfo {
			margin-top: 10px;
			border: 1px solid #cccccc;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
			.mailInfo-header {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				background-color: #dddddd;
				padding: 5px;
				.from {
					font-weight: bold;
					float: left;
				}
				.date {
					float: right;
				}
				.subject {
					clear: both;
				}
			}
			.mailInfo-body {
				border-top: 1px solid #cccccc;
				padding: 10px;
			}
		}
	}
}
