
.GoogleMailForwardRest {
    .attachmentItem {
        input {
            display: inline-block;
        }
        .removeAttachment {
            cursor: pointer;
        }
    }

    .removeCC {
        cursor: pointer;
    }
}
