.GoogleCalendarView {
	.GoogleCalendarView-header {
		margin: 10px;
		.control-group {
			margin-bottom: 0px;
			margin-top: 10px;
			margin-left: 10px;
			display: block;
			width: 20%;
			.calendarList {
				display: block;
				min-width: 600px;
				.calendarItem {
					display: block;
					float: left;
				}
			}
		}
		.searchCalendar {
			margin-left: 10px;
		}

	}
	table.GoogleCalendarView-calendar-table {
		margin-bottom: 20px;
		border-collapse: collapse;
		width: 100%;

		.busy {
			background: #BE1C1C;
		}
		td, th {
			border: 1px solid #8c8c8c;
			font-size: 12px;
			min-width: 100px;
			min-height: 30px;
			line-height: 30px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

		}
		td {
			min-height: 25px;
			vertical-align: top;
			.events div {
				line-height: 20px;
			}
		}

		thead {
			tr:first-child {
				background: #d3d3d3;
				th {
					font-size: 16px;
					font-weight: bold;
				}
			}
			th {
				height: 30px;
			}
		}
		.calendar-month th {
			text-align: center;
			font-size: 14px;
			font-weight: bold;
		}
		.calendar-week th {
			text-align: center;
		}
	}
}