.GoogleScreen {
    .fitparent;
    left: 50px;
    top: 50px;
    bottom: 50px;
    right: 50px;
    .GoogleScreen-top {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        .nav{
            .glyphicon{
                margin-left: 6px;
            }
        }
    }
    .GoogleScreen-content {
        .fitparent;
        top: 35px;
        background: #ffffff;
    }
}
