.LinkedInGroupPostComment {
	outline-width: 1px;
	
	.GroupPostCommentHead {
		width: 100%;
		
	}
	
	.GroupPostCommentBody {
		.postCommentItemDiv {
			width: 100%;
			min-height: 150px;
			margin: 3px 3px 0 3px;
			border-style: groove;
			border-width: 1px;
			border-color: #999;
			
			.CommentCreator {
				font-size: 20px;
				font-style: blod;
				margin: 5px 0px 5px 20px;
			}
			
			.CommentText {
				textarea {
					width: 90%;
					min-height: 100px;
					overflow-y: visible;
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}
	}
}