.LiveCalendar {
	.CompanyTotal {
		float: right;
		font-size: 18px;
		margin-right: 5px;
	}
	.LiveCalendarList {
		table {
			.width5 {
				width: 5%;
			}
			.width10 {
				width: 10%;
			}
			.width30 {
				width: 30%;
			}

			.calendarName .description {
				word-break: break-word;
			}
			.operation {
				vertical-align: middle;
				span {
					font-size: 25px;
					cursor: pointer;
				}
			}
			a {
				word-break: break-word;
				cursor: pointer;
			}
		}
	}
}